<%-include('layout/header.ejs') %> 
      <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Status</th>
                <th>CRUD</th>
            </tr>
        </thead>
        <tbody>
            <% student.forEach((item,index) => { %>
             
                <tr>
                    <td><%=  %> </td>
                    <td></td>
                    <td></td>
                </tr>
            <% }) %>
            
        </tbody>
      </table>
<%-include('layout/footer.ejs') %>      

      
    