<%-include('layout/header.ejs') %> 
      <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Status</th>
                <th>CRUD</th>
            </tr>
        </thead>
        <tbody>
            
            
        </tbody>
      </table>
<%-include('layout/footer.ejs') %>      

      
    